li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 30px;
    height: 30px;
    padding: 0;
}

app-person {
    display: contents;
}

h1 {
    margin-bottom: 30px;
    color: white;
}